ex1/.idea/
ex1/~$1 - Linting (236651).docx
ex1/ex1/ex1.Sample/bin/
ex1/ex1/ex1.Sample/obj/
ex1/ex1/ex1.Tests/bin/
ex1/ex1/ex1.Tests/obj/
ex1/ex1/ex1/obj/
ex1/ex1/ex1/bin/
ex1/ex1.sln.DotSettings.user
